{
  "tabWidth": 4,
  "singleQuote": true,
  "printWidth": 90,
  "plugins": ["prettier-plugin-svelte"],
  "semi": true,
  "svelteSortOrder": "scripts-markup-options-styles",
  "svelteStrictMode": false,
  "svelteIndentScriptAndStyle": true,
  "trailingComma": "none"
}
